[submodule "bundle/vim-clang-format"]
	path = bundle/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule "bundle/vim-cmake"]
	path = bundle/vim-cmake
	url = https://github.com/jansenm/vim-cmake
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe/
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/black"]
	path = bundle/black
	url = https://github.com/ambv/black
[submodule "bundle/vim-isort"]
	path = bundle/vim-isort
	url = https://github.com/fisadev/vim-isort
[submodule "bundle/vim-jsbeautify"]
	path = bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
